---
import { getCollection } from "astro:content";
import BlogPost from "@/layouts/BlogPost.astro";
import Tailwind from "@/icons/Tailwind.astro";
import React from "@/icons/React.astro";
import AstroIcon from "@/icons/Astro.astro";
import Node from "@/icons/Node.astro";
import Mongo from "@/icons/Mongo.astro";
import Vite from "@/icons/Vite.astro";
import IconsUtils from "@/components/IconsUtils.astro";

const projects = (await getCollection("project")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BlogPost>
  <section>
    <h1 class="text-center transform transition-all text-3xl mt-5 font-semibold italic bg-gray-50 dark:bg-main-dark dark:text-headingg-main-dark">Proyectos Realizados</h1>
   
    <ul
      class="max-w-screen-xl grid md:grid-cols-1 lg:grid-cols-2 mx-auto gap-y-8 gap-x-6 p-2 m-1 my-8"
    >
      {
        projects.map((project) => (
          
          <li class="flex flex-col justify-between rounded-lg py-2 px-2.5 border-border-light dark:border-gray-600 border-2 h-auto" transition:name={`${project.id}`}>
            <h3 class="text-center font-bold text-2xl text-headingg-main-light dark:text-headingg-main-dark">{project.data.title}</h3>
            <p class="font-medium text-base p-1 m-0.5 text-paragraph-light dark:text-paragraph-dark text-balance tracking-wide">
              {project.data.description}
            </p>
            <ul class="flex flex-row space-x-2 md:space-x-6 pl-2 my-2">
              {project.data.utils.map((tech) => (
                <li class=" px-2 py-0.5 rounded-xl text-base cursor-pointer group duration-75">
                  {/* Condicional para renderizar el componente correcto */}
                  {tech === "Tailwind" && (
                    <IconsUtils utils="Tailwind">
                      <Tailwind />
                    </IconsUtils>
                  )}
                  {tech === "React" && (
                    <IconsUtils utils="React">
                      <React />
                    </IconsUtils>
                  )}
                  {tech === "Astro" && (
                    <IconsUtils utils="Astro">
                      <AstroIcon />
                    </IconsUtils>
                  )}
                  {tech === "Mongo" && (
                    <IconsUtils utils="Mongo">
                      <Mongo />
                    </IconsUtils>
                  )}
                  {tech === "Node" && (
                    <IconsUtils utils="Node">
                      <Node />
                    </IconsUtils>
                  )}
                  {tech === "Vite" && (
                    <IconsUtils utils="Vite">
                      <Vite />
                    </IconsUtils>
                  )}
                  {/* Si no hay un ícono, mostrar el nombre de la tecnología */}
                  {![
                    "Tailwind",
                    "React",
                    "Astro",
                    "Mongo",
                    "Node",
                    "Vite",
                  ].includes(tech) && <span>{tech}</span>}
                </li>
              ))}
            </ul>
            <a
              href={`/project/${project.id}`}
              class="flex flex-col rounded-md items-center justify-end bg-button-main-light dark:bg-button-main-dark group hover:scale-y-105 transition-all "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-10 bg-opacity-80 text-main-light p-1 rounded-xl gropu:hover:scale-110 hover:scale-125 transition-all"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                />
              </svg>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BlogPost>
