---
import LibraryIcon from "@/icons/Library.astro";
import SideMenuItems from "./SideMenuItems.astro";
import Letter from "@/icons/Letter.astro";
import Spotify from "@/icons/Spotify.astro";
import ThemeToggleButton from "./ThemeToggleButton";
import Twitter from "@/icons/Twitter.astro";
import Github from "@/icons/Github.astro";
import Linkenld from "@/icons/Linkenld.astro";
import CV from "@/icons/CV.astro";
import IconsUtil from "@/components/Utils/IconsUtils.astro";
import SideLi from "@/components/SideBar/SideLi.astro";

interface Props {
  person?: string;
  alias?: string;
  role1?: string;
  role2?: string;
  experience?: number;
}

const {
  person = "Nombre",
  alias = "nickname",
  role1,
  role2,
  experience,
} = Astro.props;
---

<div
  class="z-40 rounded-lg p-2 border-r-2 border-b-2 mx-0.5 border-border-light dark:border-border-dark"
>
  <div
    class="flex flex-col items-center justify-center text-paragraph-light dark:text-paragraph-dark"
  >
    <ThemeToggleButton client:visible />
    <div class="max-w-56 rounded-full overflow-hidden p-4 -mb-2">
      <img
        src="../images/avatar.png"
        alt="avatar"
        class="rounded-full border-2 mx-auto w-44 hover:scale-110 transition-all"
      />
    </div>

    <h3
      class="[text-shadow:_0_2px_2px_rgb(99_102_241_/_0.2)] hover:scale-105 duration-75 font-bold text-lg text-clip text-center"
    >
      {person}
    </h3>
    <span
      class="[text-shadow:_0_3px_2px_rgb(99_102_241_/_0.6)] text-center text-sm font-semibold italic mb-2.5"
      >{alias}</span
    >
    <ul class="flex flex-col w-full select-none">
      <SideLi role={`${role1}`} />
      <SideLi role={`${role2}`} />

      <li
        class="p-1 group transform transition-all hover:bg-slate-100 dark:hover:bg-gray-800 w-full"
      >
        <div class="inline-flex group:hover:pr-4 items-center justify-start">
          <button
            class="w-10 h-8 bg-button-main-light group-hover:ml-2 ml-4 hover:opacity-80 rounded-md transition-all"
            ><span class="text-white text-xl font-bold">{experience}</span
            ></button
          >
          <p class="mx-1 text-base font-medium">De Experiencia</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div
  class="flex flex-col justify-between rounded-lg p-2 border-r-2 border-t-2 border-border-light dark:border-border-dark mx-0.5 flex-1 mb-7 md:mb-4 overflow-auto"
>
  <nav>
    <SideMenuItems href="/">
      <LibraryIcon />
      Proyectos
    </SideMenuItems>
    <SideMenuItems
      href="https://open.spotify.com/playlist/68lsszTFg2vKEV4m8jH1LV?si=g81b9z49RT-d_TkTbs-ETA"
    >
      <Spotify />
      Lista Favorita :3
    </SideMenuItems>
    <SideMenuItems href="/contact" >
      <CV />
      <span>Mi CV</span>
    </SideMenuItems>
    <SideMenuItems href="/contact" transition:name="contact">
      <Letter />
      <span>Contacto</span>
    </SideMenuItems>
  </nav>
  <footer class="flex items-center justify-center space-x-8 m-2 pb-8 md:pb-0">
    <IconsUtil utils="Twitter"><Twitter /></IconsUtil>
    <IconsUtil utils="Github"><Github /></IconsUtil>
    <IconsUtil utils="Linkenld"><Linkenld /></IconsUtil>
  </footer>
</div>
